@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


#map{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
