@model User

<div class="cont">


      <div class="card">
        <div class="card-header">
          <h2>Login</h2>
        </div>
        @if(@ViewBag.errors==true){
          <div class="alert alert-danger" asp-validation-for="Email">
                  <p>Login Error</p>
          </div>
        }
        <div class="f card-body">
                    <form asp-action="login" asp-controller="Home" method="POST">
         
                            <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control" name="Email">
                            </div>
                            <div class="form-group">
                                    <label type="text" for="PasswordToCheck">Password</label>
                                    <input type="text" class="form-control" name="PasswordToCheck">
                            </div>
    
                            <button type="submit" class="btn btn-primary">Login</button>
                    </form>
        </div>
      </div>
<hr>
      <div class="reg">

    

        <div class="card">
                        <div class="card-header">
                                <h2>Register</h2>
                        </div>
                        <div class="card-body">
                                <form id="reg_form" asp-action="reg" asp-controller="Home" method="POST">
                                        
                                        <div class="divide">

                                        <span class="reg-errors" asp-validation-for="FirstName"></span>

                                        <div class="form-group">
                                                <label asp-for="FirstName">First Name</label>
                                                <input class="form-control" asp-for="FirstName">
                                        </div>

                                        <span class="reg-errors" asp-validation-for="LastName"></span>

                                        <div class="form-group">
                                                <label asp-for="LastName">Last Name</label>
                                                <input class="form-control" asp-for="LastName">
                                        </div>

                                        <span class="reg-errors" asp-validation-for="Email"></span>
                        
                                        <div class="form-group">
                                                <label asp-for="Email">Email</label>
                                                <input class="form-control" asp-for="Email">
                                        </div>
                                        </div>

                                        <div class="divide d2">

                                        <span class="reg-errors" asp-validation-for="Password"></span>
                                        @if(ViewBag.spec==true){<span class="reg-errors">Password must contain at least one special character </span>}
                        
                                        <div class="form-group">
                                                <label asp-for="Password">Password</label>
                                                <input asp-for="Password" class="form-control">
                                        </div>


                                        @if(ViewBag.psconf==true){<span class="reg-errors">Password and confirmation password must match</span>}


                                        <div class="form-group">
                                                <label for="psconf">Confirm Password</label>
                                                <input type="password" class="form-control" name="psconf">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                </form>
                        </div>
        </div>
</div>

</div>