<!--The content below is only a placeholder and can be replaced.-->


<style>
  ul li{
    display:inline-block;
    margin-right:10px;
  }
</style>


<div style="text-align:center">
        <h1>Dojo Weather Forcast</h1>
        <ul>
          <li>
            <a href="#" (click)="getStats('seattle')">Seattle Wa</a>
          </li>
          <li>
            <a href="#"  (click)="getStats('san jose')" >San Jose</a>
          </li>
          <li>
            <a href="#" (click)="getStats('burbank')" >Burbank CA</a>
          </li>
          <li>
            <a href="#" (click)="getStats('dallas')"  >Dallas TX</a>
          </li>
          <li>
            <a href="#" (click)="getStats('washington')" >Washington DC</a>
          </li>
          <li>
            <a href="#" (click)="getStats('chicago')" >Chicago IL</a>
          </li>
        </ul>
        <app-router [cityJson]="cityJson"></app-router>
</div>

