<!DOCTYPE html>
{% load static %}
<html>
<head>
        <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="cont">

            <div class="add-note">
                <h3>Add a Quote</h3>
                <form id="make_note" action="/create_note" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                            <textarea class="form-control" id="note" name="note" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Note</button>
                </form>
            </div>
            <div id="note_display" >

        </div>

    </div>
</body>
</html>