
*{
    font-family: Arial, Helvetica, sans-serif;
}

.cont{
    width: 970px;
    border:1px solid black;
    padding:15px;
}

header{
    width: 100%;
}

header img{
    margin-bottom: 0px;
    width:100px;
    display: inline-block;
    position: relative;
    top: 15px;
}

header h1{
    display: inline-block;
    margin-bottom: 0px;
}

header h2{
    margin-top: 0px;
    padding:15px 15px 15px 0px;
    background:radial-gradient(#296aa1,#4c7fab);
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 10px;
}


.sidebar{
    width: 260px;
}

.sidebar .sidebar-top{
    width: 100%;
    padding:35px 35px 0px 35px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    height: 211px;
}

.sidebar .sidebar-top p{
    text-align:left;
    width: 80%;
}

.sidebar .sidebar-top button{
    display: block;
    padding:7px;
    width: 76%;
    margin:auto;
    margin-bottom: 6px;
}

.sidebar .sidebar-low{
    width: 100%;
    height: 272px;
    background-image: url("../img/ad_background.png");
    padding-top: 13px;
}


.sidebar .sidebar-low p{
    z-index: 1;
    color:white;
    width: 100%;
    text-align: center;
}

.sidebar .sidebar-low img{
    width: 90px;
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sidebar .sidebar-low button{
    display: block;
    padding: 7px;
    margin: auto;
    margin-right: 33px;
    width: 82%;
    border-radius: 3px;
}