@model Ninja


@{
    ViewData["Title"] = "Contact";
}

<div class="info">
    <div>
        Name: @Model.Name
    </div>
    <div>
        Dojo Location: @Model.Location
    </div>
    <div>
        Favorite Language: @Model.Language
    </div>
    <div>
        Comment: @Model.Comment
    </div>
</div>