<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="cont">
        <h1>Edit User {{u.id}}</h1>
            <form action="/update_user" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{u.id}}" name="id">
                <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control" value="{{ u.first_name }}" >
                  </div>

                    <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" class="form-control" value="{{ u.last_name }}">
                    </div>


                    <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="text" name="email" class="form-control" value="{{ u.email }}" >
                    </div>

                    <button type="submit" class="btn btn-primary">Edit User</button>
                  </form>
    </div>
</body>
</html>