@{
    ViewData["Title"] = "Home Page";
}

<div class="c card">
  <img id="gitImg" class="card-img-top" src="" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mark Schemmer</h5>
    <p class="card-text">Please check out my Linkedin, Github and please join and follow me on www.codewars.com</p>
    <p class="card-text"> Below are a list of my respositorys</p>
  </div>
</div>


<div class="page"></div>