<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="cont">


    {% block content %}
    {% endblock %}
</div>
</body>
</html>