@model User

<div class="cont">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Register</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form id="reg_form" asp-action="reg" asp-controller="Home" method="POST">
                            <span class="reg-errors" asp-validation-for="FirstName"></span>
                            <div class="form-group">
                                    <label asp-for="FirstName">First Name</label>
                                    <input class="form-control" asp-for="FirstName">
                            </div>
                            <span class="reg-errors" asp-validation-for="LastName"></span>
                            <div class="form-group">
                                    <label asp-for="LastName">Last Name</label>
                                    <input class="form-control" asp-for="LastName">
                            </div>
                            <span class="reg-errors" asp-validation-for="Email"></span>
                            <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input class="form-control" asp-for="Email">
                            </div>
                            <span class="reg-errors" asp-validation-for="Password"></span>
                            <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" class="form-control">
                            </div>
                            @if(ViewBag.psconf==true){<span class="reg-errors">Confirmation password must match Password</span>}
                            <div class="form-group">
                                    <label for="psconf">Confirm Password</label>
                                    <input type="password" class="form-control" name="psconf">
                            </div>
                    </form>
            </div>
            <div class="modal-footer">
              <button type="submit" form="reg_form" class="btn btn-primary">Register</button>
            </div>
          </div>
        </div>
      </div>
  
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to Book Reviewer</h1>
        <p class="lead">Don't have an account well </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" id="modalbtn">
              Register Here
      </button>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <h2>Login</h2>
      </div>
      <div class="f card-body">
             @if(ViewBag.login_error==true)
             { 
                <div class="alert alert-danger">
                      <p>Login Error</p>
                </div>
             }
                  <form asp-action="login" asp-controller="Home" method="POST">
       
                          <div class="form-group">
                                  <label for="Email">Email</label>
                                  <input type="text" class="form-control" name="Email">
                          </div>
                          <div class="form-group">
                                  <label type="text" for="PasswordToCheck">Password</label>
                                  <input type="text" class="form-control" name="PasswordToCheck">
                          </div>
  
                          <button type="submit" class="btn btn-primary">Login</button>
                  </form>
      </div>
    </div>
</div>