body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:20px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.cont{
    padding:25px;
    max-width: 1300px;
    min-width: 400px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}


.cont .f{
    max-width: 600px;
}

.cont .f button{
    padding:10px;
}


.reg-errors{
    font-weight: bolder;
    color:red;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.divide{
    width:500px;
    display: inline-block;
    margin-right:30px;
}


.d2{
    vertical-align: top;
}

.l{
    float:right;
}


.g{
    float:right;
}

nav{
    margin-bottom:20px;
}

.join{
    display: inline-block;
}



.createIdea{
    width: 800px;
}

.createIdea form{
    width: 600px;
}

textarea{
    width: 400px;
    display: inline-block;
}

.createIdea button{
    display: inline-block;
}


