<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="cont">
        <form action="/result" method="POST">
            <input type="text" name="name">
            <select name="location" id="">
                <option value="Seattle"></option>
                <option value="San Jose"></option>
                <option value="San Diego"></option>
            </select>
            <select name="language" id="">
                <option value="Python"></option>
                <option value="JavaScript"></option>
                <option value="C#7"></option>
            </select>
            <textarea name="comment" id="" cols="30" rows="10" placeholder="please leave a comment"></textarea>
            <input type="submit" id="" value="submit">
        </form>
    </div>
</body>
</html>