@{
    ViewData["Title"] = "Contact";
}

<div class="info">
    <div>
        Name: @ViewBag.name
    </div>
    <div>
        Dojo Location: @ViewBag.loc
    </div>
    <div>
        Favorite Language: @ViewBag.lan
    </div>
    <div>
        Comment: @ViewBag.comment
    </div>
</div>