
<style>
  .create{
    width: 500px;
  }

  .create a {
    margin-right : 10px;
  }

  .red{
    padding:10px;
    color: snow;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bolder;
    opacity: .6;
  }

</style>


<h1>Create a new Product</h1>


<div class="create row">
    <div class="col s12">
      <div class="row">
        <div class="helper-text red" *ngIf="errors?.title">
            {{ errors?.title }}
        </div>

        <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="helper-text red" >

            <div *ngIf="title.errors.required">
                  title is required!
            </div>

            <div *ngIf="title.errors.minlength">
                  title must be greater than 4 chars
            </div>

        </div>



        <div class="input-field">
          <input
          required
          minlength="4"
          maxlength="25"
          placeholder="Title"
          type="text"
          class="validate"
          [(ngModel)]="toBeCreated.title"
          name="title"
          #title="ngModel"
          >
        </div>

        <!-- Price below -->

        <div class="helper-text red" *ngIf="errors?.price">
            {{ errors?.price }}
        </div>


        <div *ngIf="price.invalid && (price.dirty || price.touched)"
        class="helper-text red" >

           <div *ngIf="price.errors.required">
                 Price is required!
           </div>
       </div>

        <div class="input-field">
            <input
            required
            placeholder="Price"
            type="text"
            class="validate"
            [(ngModel)]="toBeCreated.price"
            name="price"
            #price="ngModel"
            >
        </div>
        <div class="input-field">
            <input
            placeholder="Image Url"
            type="text"
            class="validate"
            [(ngModel)]="toBeCreated.url"
            >
        </div>
      </div>
      <button [disabled]="(!price.valid || !title.valid)" class="waves-effect waves-light btn"
      (click)="createProduct()" >Create Product</button>
      <a class="waves-effect waves-light btn"
      (click)="cancelCreate()" >Cancal Product</a>
    </div>
  </div>

