.container{
    width: 970px;
    border: 1px solid black;
    margin:auto;
    margin-top: 10px;
    padding:10px;
    background-color: rgb(18, 53, 91);
}

header{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    background-color:rgb(215, 38, 56);
    margin-bottom: 5px;
}



header h2{
    color: rgb(191, 215, 234);
}

.sidebar{
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(8, 126, 139);
    opacity: 0.70;
}

.sidebar a{
    color: rgb(82, 222, 229);
}

main{
        border: 1px solid black;
        padding: 10px;
        margin: 0 5px;
        display: inline-block;
        width: 70%;
        vertical-align: top;
        border-radius: 10px;
        background-color:rgb(12, 24, 33);
}

main h2{
    color: rgb(191, 215, 234);
}

p {
    color: rgb(191, 215, 234);
    line-height: 1em;
    margin-bottom: 0px;
    font-size: normal;
}

.intro_text{
    margin-bottom: 0px;
}

main ul p {
    display: inline-block;
    margin-bottom: 0px;
    font-size: normal;
}

main ul li{
    display: inline-block;

}

main ul li code{
    color: rgb(111, 146, 255);
}

main ul li a{
    color:rgb(75, 191, 161)
}

footer{
    border: 1px solid black;
    margin:3px;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
}

footer p{
    text-align: center;
    margin:auto;
}
